.catDetails {
    text-align: center;
}

img {
    max-width: 300px;
    max-height: 450px;
    margin-top: 40px;
}

#catName {
    font-size: 2.5em;
}


#updateLink {
    color: rgb(57, 193, 42);
    margin: 30px auto;
    font-size: 35px;
}

#updateLink:hover {
    background-color: rgb(57, 193, 42);
    color: white;
}

#returnLink {
    color: #3AA6DD;
    font-size: 35px;
}

#returnLink:hover {
    background-color: #3AA6DD;
    color: white;
}

#deleteBtn {
    color: white;
}

#deleteBtn:hover {
    background-color: red;
    color: white;
}
